## **[MySQL INSERT Multiple Rows](https://www.mysqltutorial.org/mysql-insert-multiple-rows/)**

Use a single MySQL INSERT statement to insert multiple rows into a table.

In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from IPython.display import Image, SVG

from sqlalchemy_utils import database_exists, create_database
from sqlalchemy import create_engine, inspect, MetaData, text
from sqlalchemy_schemadisplay import create_schema_graph
import pymysql

pd.set_option(
    'display.max_columns', None,
    'expand_frame_repr', True,
    'display.max_colwidth', None,
    'display.max_rows', 10,
)

pd.set_option('display.width', 65)

In [2]:
# connect to the classicmodels database
connect_args={'ssl':{'fake_flag_to_enable_tls': True}}

engine = create_engine('mysql+pymysql://namlq:abc123@localhost/classicmodels',
                       connect_args=connect_args, echo=False
                         )
inspector = inspect(engine)

### MySQL INSERT multiple rows statement

syntax:

INSERT INTO table_name (column_list)
VALUES
	(value_list_1),
	(value_list_2),
	...
	(value_list_n);

### MySQL INSERT multiple rows limit

In [3]:
pd.read_sql("SHOW VARIABLES LIKE 'max_allowed_packet'", engine)

        Variable_name     Value
0  max_allowed_packet  67108864

# not working
engine.execute('SET GLOBAL max_allowed_packet=4567')

### MySQL INSERT multiple rows example

Create a new table projects for the demonstration:

In [4]:
engine.execute('DROP TABLE IF EXISTS projects')

string = '''
CREATE TABLE projects(
    project_id INT AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    start_date DATE,
    end_date DATE,
    PRIMARY KEY (project_id)
);'''

engine.execute(string)

# insert some data into the table
string = '''
INSERT INTO projects
    (name, start_date, end_date)
VALUES
    ('AI for Marketing', '2019-08-01', '2019-12-31'),
    ('ML for Sales', '2019-05-15', '2019-11-20')
;'''

engine.execute(string)

In [5]:
# verify the inserts
df1 = pd.read_sql('SELECT * FROM projects', engine)
df1

   project_id              name  start_date    end_date
0           1  AI for Marketing  2019-08-01  2019-12-31
1           2      ML for Sales  2019-05-15  2019-11-20

In [6]:
def change_type(df):
    df = df.assign(
        project_id = range(1, len(df)+1),
        name = df.name.astype('string').str[:100],
        start_date = df.start_date.astype('datetime64[ns]'),
        end_date = df.end_date.astype('datetime64[ns]'))
    return df

df2 = pd.DataFrame(
    columns=['project_id', 'name', 'start_date', 'end_date'])

row  = {'name': ['AI for Marketing', 'ML for Sales'],
        'start_date': ['2019-08-01', '2019-05-15'],
        'end_date': ['2019-12-31', '2019-11-20']}

df2 = (pd.concat([df2, pd.DataFrame.from_dict(row)])
       .pipe(change_type))

df2

   project_id              name start_date   end_date
0           1  AI for Marketing 2019-08-01 2019-12-31
1           2      ML for Sales 2019-05-15 2019-11-20

In [7]:
engine.execute('DROP TABLE IF EXISTS projects')